Repository w-k-s/Jenkins-Experiments: changes, and which Jenkins stages are due for each by the changed paths.
All: Build project Alpha, Build project Beta

Build project Alpha:
              step{
                  build 'Alpha'
              }
          

Build project Beta:
              step{
                  build 'Beta'
              }
          

Fix spelling of steps
  Jenkinsfile
Due: none

Changeset test
  Beta/src/test/kotlin/com/wks/beta/ConcatenationTest.kt
  Jenkinsfile
Due: Build project Beta

Created Jobs in Jenkins and retrying
  Beta/src/test/kotlin/com/wks/beta/ConcatenationTest.kt
  Jenkinsfile
Due: Build project Beta

Created Jobs in Jenkins and retrying
  Beta/Jenkinsfile
  Beta/src/test/kotlin/com/wks/beta/ConcatenationTest.kt
Due: Build project Beta

Fix failing test
  Alpha/.gradle/6.7/executionHistory/executionHistory.bin
  Alpha/.gradle/6.7/executionHistory/executionHistory.lock
  Alpha/.gradle/6.7/fileHashes/fileHashes.bin
  Alpha/.gradle/6.7/fileHashes/fileHashes.lock
  Alpha/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Beta/.gradle/6.7/executionHistory/executionHistory.bin
  Beta/.gradle/6.7/executionHistory/executionHistory.lock
  Beta/.gradle/6.7/fileHashes/fileHashes.bin
  Beta/.gradle/6.7/fileHashes/fileHashes.lock
  Beta/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Beta/src/test/kotlin/com/wks/beta/ConcatenationTest.kt
Due: Build project Alpha, Build project Beta

Path conditions:
  Build project Alpha: any of: Alpha/**
  Build project Beta: any of: Beta/**
